.calendar
    {
        font-family: Arial;
        for-size:12px;
    }
    table.calendar
    {
        margin:auto;
        border-collapse: collapse;
    }
    .row
    {
    height:50px;    
    }
    .header
    {
    background-color: #428bca;
    color:white;    
    }
    .calendar .row td:hover
    {
     background-color: #428bca;   
    }
    .calendar .highlight
    {
    font-weight: bold;
    font-size:18px;
    }
    .action
{
    background-color: #7400BD;
    color:white;
}
.reserve
{
    background-color: #d9534f;
}